/* Form Controls */

.form-control {
  display: block;
  width: 500px;
  padding: 15px 20px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #7cc576;
  background-color: #fff;
  background-image: none;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin:15px 0;
  transition: all 0.3s ease;
}
.form-control:focus {
  border-color: #7cc576;
  outline: 0;
}
.form-control::-moz-placeholder {
  color: #bbb;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #bbb;
}
.form-control::-webkit-input-placeholder {
  color: #bbb;
}

.contact-button {
	margin:15px;
}

button:focus {
	outline:0;
}

/* Sample Form */
#sample-form {
	padding:20px 0;
	display:none;
	width:500px;
}

#sample-form .sign-up-button {
	padding:10px 25px;
	margin:15px 0;
	width:100%;
}
/* Notification Box */

.notification-box {
	width:30%;
	padding:10px;
	background: #7cc576;
	box-shadow:0 3px 5px rgba(0,0,0,.15);
	border-radius:3px;
	text-align: center;
	color:white;
	position: fixed;
	left:35%;
	bottom:-40px;
	z-index:4000;
	opacity: 0;
	transition: all 0.5s ease;
}

.notification-box.active {
	opacity: 1;
	bottom:40px;
}

.notification-box > .content {
	color:#bbb;
	border:0;
	padding:0;
	text-align: center;
}
.form-incomplete {
	border:1px solid #bb5555;
}

/* Content Wrapper */

#wrapper {
	transition: all 0.3s ease;
	width:100%;
	top:0;
	left:0;
    display:inline-block;
    overflow:hidden;
}

#wrapper.behind {
	position: relative;
	transform: scale(0.8) translateY(-5%);
}
	.details{float:left;color: #336699;padding-left:15px;}
	.details a{color: #0099ccs; /* font color */
	text-decoration: none;}
	.details a:hover, a:focus{outline: none;
	color: #089d12;}

	.me{margin:35px 0 0 0;padding-left:25px;}
	
.form h3{color: #808080;margin-left:15px;}

.box{}
.mail{float:right;margin-top:-100px;padding-right:15px;}

/* Custom Styles */
@media(max-width:768px) {
	.text-left-mobile {
		text-align: left;
	}
	.text-center-mobile {
		text-align: center;
	}
}

/* Author */

.author {
	margin-bottom:40px;
}

.author .author-name {
	padding-top:25px;
}

.author .pic {
	width:100%;
}

@media(max-width:768px) {

	.author .pic {
		width:150px;
	}
}

.author .author-name .heading {
	margin-bottom:0;
}

.author .author-name .subheading {
	margin-top:0;
}

.locations {
	margin-top:60px;
}

.locations .location {
	margin-bottom:40px;
}

.locations .location .date {
	color: #6a727b;
	display: inline-block;
	margin-right:20px;
}

.locations .location .date .fa {
	color: #bbbbbb;
	margin-right:10px;
	font-size:20px;
}

.locations .location .time {
	color: #6a727b;
	display: inline-block;
	margin-right:20px;
}

.locations .location .time .fa {
	color: #bbbbbb;
	margin-right:10px;
	font-size:20px;
}

.locations .location .directions {
	display: inline-block;
}

.locations .location .directions a {
	color: #ffc107;
	font-size:20px;
}

.locations .location.done {
	margin-bottom:20px;
}

.locations .location.done .heading {
	color: #bbbbbb;
	text-decoration: line-through;
}

.call-to-action .top-fit {
	margin-top:15px;
	margin-bottom:0;
}

.contact-details .details {
	margin-top:70px;
}


/*ButtonFace */
.navbar-nav > li > a.btn {
	color:white;
	margin:0;
	width:0;
	padding-left:0; padding-right:0;
	overflow: hidden;
	margin-top:-5px;
	border-width:0px;
}

.navbar-nav > li > a.btn.btn-green {
	background:white;
	color:#7cc576;
	border-color:#7cc576;
}

.navbar-nav > li > a.btn.btn-green:hover {
	background:#7cc576;
	border:2px solid #7cc576;
	color:white;
}

.navbar-nav > li > a.btn:after {
	display: none;
}

.navbar.nav-fixed .navbar-nav > li > a.btn {
	width:auto;
	padding:15px;
	border-width:2px;
}
.btn {
	display:inline-block;
	font-family:'Proxima Bold';
	font-size:18px;
	padding:10px 20px;
	margin:10px 10px;
	border-radius:3px;
	transition: all 0.3s ease;
}

.btn.btn-green {
	background: #3399cc;
	border:3px solid #3399cc;
	color:white;
}

.btn.btn-green:hover {
	background: #ccccff;
	border-color: #ccccff;
}

.btn.btn-white {
	border:3px solid white;
	background: transparent;
	color:white;
}

.btn.btn-white:hover {
	background:white;
	color:#7cc576;
}

.btn .price {
	font-family:'Proxima';
	margin-left:10px;
}

.btn-dropdown {
	border:1px solid #cccccc;
	font-family:'Proxima';
	color:#888888;
}

.btn-dropdown span.caret {
	margin-left:60px;
}
